<p id="notice"><%= notice %></p>

<p>
  <strong>Code sale:</strong>
  <%= @sale.code_sale %>
</p>

<p>
  <strong>Client:</strong>
  <%= @sale.client %>
</p>

<p>
  <strong>Sale date:</strong>
  <%= @sale.sale_date %>
</p>

<p>
  <strong>Address:</strong>
  <%= @sale.address %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @sale.phone %>
</p>

<p>
  <strong>Total:</strong>
  <%= @sale.total %>
</p>

<p>
  <strong>Total:</strong>
  <%= @sale.total %>
</p>

<p>
  <strong>Status:</strong>
  <%= @sale.status %>
</p>

<%= link_to 'Edit', edit_sale_path(@sale) %> |
<%= link_to 'Back', sales_path %>
